<header>
  <a class="save">Save</a>
  <a class="cancel">Cancel</a>
</header>

<div class="content">
  <form>
    <table>
      <tr>
        <th>ISBN</th>
        <td><input type="text" name="id"></td>
      </tr>
      <tr>
        <th>Title</th>
        <td><input type="text" name="title"></td>
      </tr>
      <tr>
        <th>Author</th>
        <td><input type="text" name="author"></td>
      </tr>
      <tr>
        <th>Published</th>
        <td><input type="text" name="published"></td>
      </tr>
    </table>
  </form>
</div>