<header>
  <a class="save">Save</a>
  <a class="cancel">Cancel</a>
</header>

<div class="content">
  <form>
    <table>
      <tr>
        <th>ISBN</th>
        <td>{{_id}}</td>
      </tr>
      <tr>
        <th>Title</th>
        <td><input type="text" name="title" value="{{title}}"></td>
      </tr>
      <tr>
        <th>Author</th>
        <td><input type="text" name="author" value="{{author}}"></td>
      </tr>
      <tr>
        <th>Published</th>
        <td><input type="text" name="published" value="{{publishedAsDate}}"></td>
      </tr>
    </table>
  </form>
</div>